.tasks{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: green;
    width: 460px;
    height: 301px;
}
.button-dots{
    background-color: #E17773;
    width: 16px;
    height: 16px;
    margin-top: 3px;
}
/*tasks-header
-------------------------------------*/
.tasks-header{
    background-color: #D95550;
    height: 50px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    border-bottom: 1px solid white;
}
.tasks-header button{
    float: right;
    background-color: #E17773;
    border: none;
    border-radius: 3px;
    width: 32px;
    height: 32px;
}
/*todo-tasks
-------------------------------------*/
.todo-tasks{
    background-color: orange;
    display: flex;
    flex-direction: column;
    height: 181px;
}
.todo-tasks button{
    box-sizing: border-box;
    width: 99.8%;
    height: 62px;
    text-align: start;
    border: none;
    border-radius: 5px;
}
.todo-tasks p{
    float: left;
    margin-top: 12px;
}
.button-image{
    float: left;
    background-color: #D95550;
    width: 32px;
    height: 32px;
}
.current-task{
    margin-top: 20px;
    margin-bottom: 10px;
}
/*tasks-footer
-------------------------------------*/
.tasks-footer{
    background-color: gray;
    height: 69px;
}